/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.fs-7 {
  font-size: 0.8rem;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root,
app-root > .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

app-register,
app-login {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
