<div class="d-flex align-items-center justify-content-end p-3 gap-1 mb-3">
  <form
    class="w-100 d-flex align-items-center gap-2"
    (submit)="search(destination)"
  >
    <input
      (keyup)="search(destination)"
      type="text"
      class="form-control"
      name="destination"
      id="destination"
      [(ngModel)]="destination"
      placeholder="Search..."
    />
    <button class="btn btn-success">
      <ng-icon name="bootstrapSearch"></ng-icon>
    </button>
  </form>
  <div>
    <button class="btn btn-warning" (click)="openModal(true)">
      <ng-icon name="bootstrapPlus"></ng-icon>
    </button>
  </div>
</div>
<div class="row row-cols-5 g-2">
  <div class="col" *ngFor="let t of trips">
    <app-trip-card [trip]="t"></app-trip-card>
  </div>
</div>
