<div class="row h-100 align-items-center">
  <div class="col-8 mx-auto">
    <h3>Login</h3>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="username" class="form-label">Username or Email:</label>
          <span
            *ngIf="isTouchedInvalid('usernameOrEmail')"
            class="text-danger"
            >{{ message("usernameOrEmail") }}</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          id="usernameOrEmail"
          name="usernameOrEmail"
          #usernameOrEmail
          formControlName="usernameOrEmail"
        />
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="password" class="form-label">Password:</label>
          <span *ngIf="isTouchedInvalid('password')" class="text-danger">{{
            message("password")
          }}</span>
        </div>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          #password
          formControlName="password"
        />
      </div>
      <button
        class="btn btn-success"
        (click)="login()"
        [disabled]="!formValid() ? true : false"
      >
        Login
      </button>
    </form>
  </div>
</div>
