<div class="row h-100 align-items-center">
  <div class="col-8 mx-auto">
    <form [formGroup]="registerForm">
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="username" class="form-label">Username:</label>
          <span class="text-danger" *ngIf="isTouchedInvalid('username')">{{
            message("username")
          }}</span>
        </div>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          #username
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <div class="d-flex justify-content-between">
          <label for="password" class="form-label">Password:</label>
          <span class="text-danger" *ngIf="isTouchedInvalid('password')">{{
            message("password")
          }}</span>
        </div>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          #password
          formControlName="password"
        />
      </div>
      <div formGroupName="employeeRequest">
        <div class="mb-3">
          <label for="firstName" class="form-label">First name:</label>
          <span *ngIf="isTouchedInvalid('firstName')">{{
            message("firstName")
          }}</span>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            #firtName
            formControlName="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last name:</label>
          <span *ngIf="isTouchedInvalid('lastName')">{{
            message("lastName")
          }}</span>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            #lastName
            formControlName="lastName"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <span *ngIf="isTouchedInvalid('email')">{{ message("email") }}</span>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            #email
            formControlName="email"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Profile:</label>
          <input
            type="file"
            accept="image/png, image/jpeg"
            class="form-control"
            id="image"
            name="image"
            formControlName="image"
          />
        </div>
      </div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div>
